.controls {
  display: flex;
  justify-content: center;

  .button {
    padding: .75rem 3rem;
    &.secondary {
      background-color: $accent-color;
    }
    &.primary {
      background-color: $accent-color;
    }
  }
  .button:first-child {
    margin-right: 1.5rem;
  }
}
