.todo {
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
  display: flex;
  margin-bottom: 10px;
  padding: 1rem;
  transition: background-color .3s;
  p,
  input {
    margin: 0;
  }
  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.todo-subtext {
  color: #999;
}

.todo-completed {
  p, .todo-subtext {
    color: gray;
    text-decoration: line-through;
  }
}
